#editor {

}

#MathSemantifier {
 
}

#title {
  
} 

#semantify {
	margin-top: 10px;
	width: 220px;
}

#semantic-tree {
	margin-top: 10px;
	width: 220px;
}

#results {
	margin-top: 10px;
}
 
.custom-row {
	width:100px;
}
 
.preview {
	 outline: 1px solid silver;
     text-align: center;
     width: 440px;
	 vertical-align: middle;	 
}

.not-btn {
	min-width:150px;
	margin-bottom:7px;
}